<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width,initial">
    <title>portfolio</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>

{% block title %}<h1>Reshamraj Portfolio</h1>{% endblock %}

<nav class="navbar">
    <ul>
        <li><a href="/home" >Home</a></li>
        <li><a href="/about" >About</a></li>
        <li><a href="/product" >Product</a></li>
        <li><a href="/contact" >Contact</a></li>
    </ul>
</nav>
<main>
   {% block head %}<h1>This is portfolio of resham</h1>{% endblock %}
    {% block content %}<p><b>This is portfolio:</b> This portfolio is for educational purposses only</p>{% endblock %}
</main>
</body>
</html>