{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="">
    <title>contact</title>
</head>
<body>
{% block head %}<h1>Contact</h1>{% endblock %}
{% block content %}
<table border="1" align="center" bgcolor="blue">
    <tr>
        <th><img src="static/resham.jpg" width="550" height="350"></th>
    </tr>
    <tr>
        <td style="text-align: left"><b>Facebook:</b> Reshamraj Azusano<p><b>Contact number:</b>0925235765483</p></td>
    </tr>
</table>


{% endblock %}
</body>
</html>